body {
  font-family: "Mulish", sans-serif;
  min-height: 100vh;
  /* max-width: 1320px; */
  margin: 0 auto;
  overflow-x: hidden;
}
:root {
  --primary-color: #ff5400;
  --secondary-color: #131318;
  --light-color: #d2a9d9;
}
section {
  display: block;
  padding: 40px 0;
}
.container {
  margin: 0 auto;
  max-width: 1170px;
  /* min-height: 100vh; */
}
.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
}
.btn-primary {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background-color: var(--primary-color);
  border: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 35px;
  margin: 0 10px 0;
}

.bg-image {
  background-image: linear-gradient(
      to bottom,
      rgba(19, 19, 24, 0.22),
      rgba(19, 19, 24, 0.33)
    ),
    url("../images/hero-image.png");
  /* background-color: #cccccc; */
  height: 500px;
  max-width: 1170px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  /* width: 100%; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 72px;
  padding: 20px 0;
  .navbar-brand {
    text-decoration: none;
    font-size: 36px;
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 300;
    font-size: 18px;
  }
}

/* .navbar {
  background-color: #46acc2;
  display: flex;
  padding: 20px 0;
  font-family: sans-serif;
  color: var(--secondary-color);
} */

.nav-items {
  display: flex;
}

.nav-link {
  padding-right: 8px;
}

.nav-link-toggle {
  display: none;
}

/* header */
.header-title {
  font-size: 64px;
  margin: 0;
}

input[type="text"],
select {
  width: 174px;
  height: 52px;
  padding: 12px 20px;
  /* margin: 8px 0; */
  box-sizing: border-box;
  border: none;
  background-color: #ffffff;
  border-radius: 8px;
  margin: 10px;
  color: var(--secondary-color);
  font-size: 16px;
}

.form-container {
  background-color: rgba(251, 251, 251, 0.3);
  min-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* media query */

@media only screen and (max-width: 768px) {
  .nav-items,
  .navbar {
    flex-direction: column;
  }

  .nav-items {
    display: none;
  }

  .nav-toggle-show {
    display: flex;
  }

  .nav-link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
}
