body {
  font-family: "Mulish", sans-serif;
  min-height: 100vh;
  /* max-width: 1320px; */
  margin: 0 auto;
  overflow-x: auto;
}
:root {
  --primary-color: #ff5400;
  --secondary-color: #131318;
  --card-bg-color-one: #fffbf7;
  --card-bg-color-two: #f4fdff;
  --card-bg-color-three: #fef7f6;
}
section {
  display: block;
  padding: 40px 0;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  /* min-height: 100vh; */
}
.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
}

.btn-primary {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background-color: var(--primary-color);
  border: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 35px;
  margin: 0 10px 0;
}

.bg-image {
  position: relative;
  background-image: linear-gradient(
      to bottom,
      rgba(19, 19, 24, 0.22),
      rgba(19, 19, 24, 0.33)
    ),
    url("../images/hero-image.png");
  /* background-color: #cccccc; */
  height: 500px;
  max-width: 1170px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.bg-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  /* width: 100%; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 72px;
  padding: 20px 0;
  .navbar-brand {
    text-decoration: none;
    font-size: 36px;
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 300;
    font-size: 18px;
  }
}
.nav-items {
  display: flex;
}

.nav-link {
  padding-right: 8px;
}

.nav-link-toggle {
  display: none;
}

/* header */
.header-title {
  font-size: 64px;
  margin: 0;
}

input[type="text"],
select {
  width: 174px;
  height: 52px;
  padding: 12px 20px;
  /* margin: 8px 0; */
  box-sizing: border-box;
  border: none;
  background-color: #ffffff;
  border-radius: 8px;
  margin: 10px;
  color: var(--secondary-color);
  font-size: 16px;
}

.form-container {
  background-color: rgba(251, 251, 251, 0.3);
  min-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
}
.item1 {
  grid-column: 1 / 5;
}

.popular-tours {
  h1 {
    font-size: 40px;
    font-weight: 800;
  }
  p,
  li {
    color: #1313189e;
    line-height: 30px;
    font-weight: 400;
  }
}
.text-center {
  text-align: center;
  h1 {
    font-size: 40px;
    font-weight: 800;
  }
  p {
    color: #1313189e;
    line-height: 30px;
    font-weight: 400;
  }
}

.img-container {
  height: auto;
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}
.img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  font-weight: 700;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 575px;
  height: 284px;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 16px;
  padding: 25px;
}
.card-hotel {
  background-color: var(--card-bg-color-one);
  border: 3px solid rgba(251, 181, 99, 0.05);
}
.card-map {
  background-color: var(--card-bg-color-two);
  border: 3px solid rgba(41, 206, 246, 0.2);
}

.card-price {
  background-color: var(--card-bg-color-three);
  border: 3px solid rgba(233, 68, 68, 0.2);
}

/* media query */

@media only screen and (max-width: 600px) {
  .nav-items,
  .navbar {
    flex-direction: column;
    ul {
      list-style-type: none;
      flex-direction: column;
      z-index: 1;
      background-color: #fff;
    }
  }

  .nav-items {
    display: none;
  }

  .nav-toggle-show {
    display: flex;
  }

  .nav-link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
  .header-title {
    font-size: 38px;
  }
  .header-text {
    padding: 0 20px;
  }

  .form-container {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  .bg-image {
    height: 500px;
    width: 100%;
    /* background-size: 100vw auto; */
  }

  .bg-text {
    /* position: fixed; */
    width: auto;
  }

  input[type="text"],
  select {
    width: 255px;
  }

  .row {
    flex-direction: column;
  }
  .popular-tours {
    padding: 0 20px;
  }
  .popular-tours-image {
    padding-top: 20px;
    width: 100%;
    height: auto;
  }
  .grid-container {
    grid-template-columns: repeat(1, 2fr);
  }
  .img-responsive {
    height: auto;
    width: 100%;
  }
}
